<div class="container m-5">

    {{!-- <form class="p-4" id="productForm">
        <p class="h3">Ingrese producto</p>
        <div class="form-group">
            <label>Nombre del producto</label>
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" required><br>
            <label>Precio del producto</label>
            <input class="form-control" type="number" name="precio" id="precio" placeholder="Precio" required><br>
            <label>Imagen del producto</label>
            <input class="form-control" type="url" name="foto" id="foto" placeholder="URL imagen" required><br>
        </div>
        <button type="submit" class="btn btn-primary">Subir producto</button>
    </form> --}}

    <div class="mt-3">
        <p class="h3">Listado</p> 

        {{#if lista}}        
            <div>
                {{#each lista as |list| }}                  
                <table class="mt-4 table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Producto #{{ list.id }}</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="h4 pt-4"> {{ list.title }} </td>
                                <td style="font-size:13px" class="pt-4"><b>$ {{ list.price }}</b></td>
                                <td class="text-center"> <img style="width: 6rem;" src="{{ list.thumbnail }}"> </td>
                            </tr>

                            <tr>
                                <td>{{ list.description }}</td>
                                <td></td>
                                <td>
                                    <form action="/api/carrito/1/productos/{{list.id}}" method="POST">
                                        <button type="submit" class="btn bg-success text-white font-weight-bold">
                                            Agregar al Carrito
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="bg-light">
                                <td><small class="text-muted">Última modificación: {{ list.time }}</small></td>
                                <td></td>
                                <td><small class="text-muted"><b>{{ list.stock }} uds.</b></small></td>
                            </tr>                            
                    </tbody>
                </table>
                {{/each}} 
            </div>
        {{ else }} {{#if productById}} 
            <div class="table">
                <table class="mt-4 table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Producto #{{ productById.id }}</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="h4"> {{ productById.title }} </td>
                                <td style="font-size:13px"><b>$ {{ productById.price }}</b></td>
                                <td> <img style="width: 2rem;" src="{{ productById.thumbnail }}"> </td>
                            </tr>

                            <tr>
                                <td>{{ productById.description }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="bg-light">
                                <td><small class="text-muted">Última modificación: {{ productById.time }}</small></td>
                                <td></td>
                                <td><small class="text-muted"><b>{{ productById.stock }} uds.</b></small></td>

                            </tr>                            
                    </tbody>
                </table>                
        {{/if}} {{/if}}
    </div>


        {{!-- <div class="container mt-3">
            <br>
            <h3>Mensajes</h3>
            <br>
            <label for="users" class="font-weight-bold">Usuario</label>
            <input type="text" class="form-control w-75 mb-2 mr-2" id="user" placeholder="Tu nombre">
            <hr>

            <form autocomplete="off" id="messageForm">
                <div class="form-group">
                    <input disabled id="msg" type="text" class="form-control w-75" placeholder="Escribí tu mensajes">
                    <button disabled id="send" type="submit" class="btn btn-primary rounded">Enviar</button>
                </div>
            </form>
            <hr>
            <div class="my-3" id="mensajes"></div>
        </div> --}}

</div>
